* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #2C345C;
    margin: 0!important;
    margin-bottom: 0!important;
}

:root {
    --pink-color: #FAB8B1;
    --darkblue-color: #2C345C;
    --green-color: #99DCC6;
}

.header-hidden {
    visibility: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px 20px 0 20px; */
    padding: 20px 20px 0 20px;
    height: 50px;
    /* margin-top: 20px; */
    /* margin-left: 20px; */
    /* margin-right: 20px; */
}

header img.logo {
    width: 50px;
    height: auto;
    mix-blend-mode: screen;
    /* padding-bottom: 10px; */
}

div.infografia-desktop {
    display: none;
}

.menu-toggle {
    z-index: 4;
    /* position: absolute; */
    /* right: 20px; */
    /* margin: 10px 20px 0 20px; */
}

.menu {
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    background-color: #99DCC6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 2;
}

.open {
    transform: translateX(0);
}

nav a {
    border-bottom: solid 5px rgb(255, 255, 255, 0);
    text-decoration: none;
    color: #2C345C;
    font-size: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    /* POR QUÉ ESTO NO FUNCIONA */
    text-align: center;
}

nav a:hover {
    border-bottom: solid 5px #2C345C;
    font-weight: bold;
    margin-bottom: 20px;
    width: max-content;
}

iframe#video {
    width: 100vw;
    height: calc(100vw/1.78);
}

section.campaign div {
    color: #2C345C;
}

a.inline-a {
    color: var(--darkblue-color);
    text-decoration: none;
    border-bottom: solid 2px var(--green-color);
}

a.inline-a:hover {
    color: var(--green-color);
}

.campaign,
.gradient section p {
    padding: 25px;
    text-align: justify;
    text-justify: inter-word;
    word-break: break-word;
    hyphens: auto;
}

.wave-wrapper {
    width: 100%;
    margin: auto;
}

.wave-wrapper svg {
    width: 30%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

section.infographics div.infographics-text {
    padding: 25px;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.p-wrapper {
    padding: 25px;
    margin: 0 auto;
}

div.infographics-text {
    padding: 25px;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.circle img {
    max-width: 100%;
}

div.info-rectangle img {
    width: 100%;
}

section.campaign h2 {
    font-size: 30px;
    text-align: center;
}

.gradient {
    background: rgb(44, 52, 92);
    background: linear-gradient(0deg, rgba(44, 52, 92, 1) 18%, rgba(242, 159, 151, 1) 53%, rgba(208, 239, 240, 1) 83%, rgba(255, 255, 255, 1) 100%);
    margin: 0!important;
    padding: 0!important;
}

span.highlight {
    color: var(--pink-color);
    border-bottom: solid 2px var(--pink-color);
}

.title {
    font-size: 30px;
    text-align: center;
}

section.long div {
    color: #2A5D9A;
    line-height: 1.6;
    mix-blend-mode: multiply;
}

section.long .dark-text {
    color: #2A5D9A;
}

section.long h2 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 20px;
}

h3 {
    font-size: 1.5rem;
}

.bottom {
    padding: 0;
    vertical-align: baseline;
    margin: 0;
    line-height: 0;
}

div.bottom img {
    min-height: 200px;
    width: 100%;
    /* background: url(../images/montanas.png) center bottom no-repeat; */
    /* background-size: cover;
    overflow: visible; */
}

footer {
    padding-right: 40px;
    padding-left: 40px;
    background-color: #262c4e;
}

.footer-info {
    margin: 0 auto;
    height: 200px;
    max-width: 400px;
    text-align: center;
    justify-content: center;
}

div.offsite-links {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

div.offsite-links a {
    padding: 10px;
    text-decoration: none;
    color: var(--pink-color);
}

div.site-links {
    width: 100%;
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

div.site-links a img {
    width: 90px;
}

a.button-up img {
    max-width: 40px;
}

div.advocacy-actionwidget {
    border: 1px #fff!important;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 6px!important;
}

svg.mountain {
    /* width: 70%; */
    height: 300px;
    display: block;
    margin: 0 auto;
}

svg.mountain path {
    stroke: var(--pink-color);
    stroke-width: 10px;
    stroke-linecap: round;
    fill: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    /* margin: 10px 20px 0 20px; */
}

.sticky+.campaign {
    /* padding-top: 102px; */
}

section.montanas {
    padding: 25px;
}

@media (min-width: 769px) {
    body {
        font-size: 20px;
        padding: 0;
    }
    div.phone-img {
        display: none;
    }
    div.infografia-desktop {
        display: block;
        width: 100%;
    }
    div.infografia-desktop img {
        width: 100%;
        margin: 0 auto;
    }
    .gradient {
        background: rgb(44, 52, 92);
        background: linear-gradient(0deg, rgba(44, 52, 92, 1) 0%, rgba(242, 159, 151, 1) 53%, rgba(208, 239, 240, 1) 83%, rgba(255, 255, 255, 1) 100%);
        margin: 0!important;
        padding: 0!important;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 20px 0 20px;
        margin: 0;
        height: 120px;
        z-index: 3;
    }
    header img.logo {
        width: 100px!important;
        position: fixed;
        padding-top: 10px;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .sticky+.campaign {
        /* padding-top: 102px; */
    }
    .videoWrapper {
        margin-top: 0!important;
        z-index: -1;
    }
    .menu-toggle {
        z-index: 3;
        position: fixed;
        right: 0;
        margin: 0 20px 0 20px;
    }
    .menu {
        top: 0;
        width: 50%;
        height: 100%;
        position: fixed;
        right: 0;
        background-color: #99DCC6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.5s ease;
        z-index: 2;
    }
    .open {
        transform: translateX(0);
    }
    nav a {
        text-decoration: none;
        color: #2C345C;
        font-size: 44px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: max-content;
    }
    nav a:hover {
        border-bottom: solid 5px #2C345C;
        font-weight: bold;
        margin-bottom: 20px;
        width: max-content;
    }
    .video,
    .campaign,
    .title {
        height: 100vh;
        width: 100wh;
    }
    section.campaign,
    .gradient section p {
        text-align: left;
        text-justify: none;
        word-break: none;
        hyphens: none;
    }
    section.campaign div {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    section.campaign div p {
        max-width: 768px;
    }
    section.campaign div h2 {
        font-size: 70px;
        border-bottom: solid 8px #2C345C;
    }
    .bi-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "content .";
        min-height: 70vh;
    }
    .bi-section div.split {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .split p {
        max-width: 472px;
    }
    section.title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section.title h2 {
        color: #2C345C;
        font-size: 80px;
        border-bottom: solid 10px #2C345C;
    }
    /* SECCIÓN INFOGRAFÍA */
    h3 {
        font-size: 3rem;
    }
    div.wave {
        max-width: 800px;
        display: block;
        margin: 0 auto;
        transform: translateX(30px);
    }
    svg.mountain {
        width: 70%;
    }
    div.infographics-text h3,
    section.infographics-2 h3,
    section.infographics-2 h4 {
        text-align: center;
    }
    section.infographics-2 {
        display: flex;
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "content content";
    }
    div.description-info,
    div.description-info-pink {
        height: 400px;
    }
    div.description-info-pink {
        color: #FA8778;
    }
    div.rearrange {
        margin: 0 auto;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    div.rearrange p {
        margin: 0 auto;
        max-width: 472px;
    }
    div.p-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "content content content";
    }
    div.p-wrapper p {
        padding-left: 20px;
    }
    div.circle img {
        height: 400px;
        width: 400px;
        margin: 0 auto;
    }
    div.text-end {
        margin: 0 auto;
    }
    .long {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .long div {
        max-width: 768px;
        color: #FAB8B1;
        line-height: 1.6;
    }
    section.long h2 {
        font-size: 50px;
        font-weight: 500;
        text-align: center;
        padding: 200px 0 50px 0;
    }
    .nodisplay-desktop {
        display: none;
    }
    .nodisplay-phone {
        display: inherit;
    }
    footer div.bottom {
        height: 517px;
        background: url(../images/montanas.png) center bottom no-repeat;
        background-size: cover;
        bottom: 0;
    }
    footer {
        padding-right: 40px;
        padding-left: 40px;
        background-color: transparent;
    }
    .footer-info {
        margin: 0 auto;
        height: 0px;
        max-width: 80%;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        transform: translateY(-50px);
    }
    /* div.offsite-links {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 10px;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
    }
    div.offsite-links a {
        padding: 10px;
        text-decoration: none;
        color: var(--pink-color);
    }
    div.site-links {
        width: 100%;
        padding: 10px;
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }
    div.site-links a img {
        width: 90px;
    }
    a.button-up img {
        max-width: 60px;
    } */
}